<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
<typeAliases>
	<typeAlias type="com.zhiyou.model.User" alias="user"/>
	<typeAlias type="com.zhiyou.model.Speaker" alias="speaker"/>
	<typeAlias type="com.zhiyou.model.Course" alias="course"/>
	<typeAlias type="com.zhiyou.model.Subject" alias="subject"/>
	<typeAlias type="com.zhiyou.model.Video" alias="video"/>
	
</typeAliases>


	
</configuration>